@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    border: 0;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background: #174B42;
    color: white;
}

/* Home Page */

#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/UpekshaBgv3.png);
    background-size: cover;
    background-position: center;
}

.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    border-radius: 20px;
    position: sticky; top: 0;
}

.logo{
    width: 100px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: lightgreen;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.3s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span {
    color: lightgreen;
}

/* About Page */

#about{
    padding: 80px 0;
    color: white;
}

#about blockquote{
    margin-top: -5%;
    margin-left: 15%;
    width: 70%;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 40%;
}

.about-col-2{
    flex-basis: 60%;
}

.about-col-2 h1{
    font-size: 70px;
    font-weight: 600;
    color: white;
    text-align: center;
}

.about-col-2 p{
    padding: 20px;
    font-size: 1.1vw;
    text-align: center;
}

/* Staff Page */ 
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: white;
}

#portfolio{
    padding: 50px 0;
}

.slideshow-container{
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.staff-row {
    display: flex;
    flex-wrap: nowrap; 
    justify-content: space-between;
    align-items: center; 
    width: 1000px;
    height: 650px;
}

.staff-col-1, .staff-col-2 {
    flex-basis: 50%; 
}

.staff-col-2{
    padding: 0 50px;
}

.staff-col-1 img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    text-align: left;
}

.slideshow-container{
    padding-top: 20px;
}