@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    border: 0;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #174B42;
    color: white;
}

#header {
    display: block;
    padding: 50px 0;
}

.sub-title {
    font-size: 60px;
    text-align: center;
}

.go-back{
    padding: 10vh 10vw;
}

.team-list {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 50px;
    flex-wrap: wrap;
}

.card-1, .card-2, .card-3 {
    border-radius: 10px;
    position: relative;
    background: #111; 
    color: #fff; 
    text-align: center;
    width: 300px;
    height: 300px; 
}

.card-1 img, .card-2 img, .card-3 img {
    width: 100%;
    height: 100%; 
    object-fit: cover;
    border-radius: 10px;
    display: block;
    transition: transform 1s;
}

.card-1 {
    transform: rotate(-3deg);
}

.card-2 {
    transform: rotate(1deg);
}

.card-3 {
    transform: rotate(4deg);
}

.layer {
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), silver);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: 0.3s;
}

.card-1:hover img {
    transform: rotate(3deg) scale(1.1);
    cursor: pointer;
}

.card-2:hover img {
    transform: rotate(-1deg) scale(1.1);
    cursor: pointer;
}

.card-3:hover img {
    transform: rotate(-4deg) scale(1.1);
    cursor: pointer;
}

.card-1:hover .layer {
    transform: rotate(3deg);
    height: 100%;
    cursor: pointer;
}

.card-2:hover .layer {
    transform: rotate(-1deg);
    height: 100%;
    cursor: pointer;
}

.card-3:hover .layer {
    transform: rotate(-4deg);
    height: 100%;
    cursor: pointer;
}

.layer h2 {
    font-size: 16px;
    margin-bottom: 20px;
}


/* Card v2 */ 

.card-1v2, .card-2v2, .card-3v2 {
    border-radius: 10px;
    position: relative;
    background: #111; 
    color: #fff; 
    text-align: center;
    width: 300px;
    height: 300px; 
}

.card-1v2 img, .card-2v2 img, .card-3v2 img {
    width: 100%;
    height: 100%; 
    object-fit: cover;
    border-radius: 10px;
    display: block;
    transition: transform 1s;
}

.card-1v2 {
    transform: rotate(1deg);
}

.card-2v2 {
    transform: rotate(-3deg);
}

.card-3v2 {
    transform: rotate(-2deg);
}

.layer {
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), silver);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: 0.3s;
}

.card-1v2:hover img {
    transform: rotate(-1deg) scale(1.1);
    cursor: pointer;
}

.card-2v2:hover img {
    transform: rotate(3deg) scale(1.1);
    cursor: pointer;
}

.card-3v2:hover img {
    transform: rotate(2deg) scale(1.1);
    cursor: pointer;
}

.card-1v2:hover .layer {
    transform: rotate(-1deg);
    height: 100%;
    cursor: pointer;
}

.card-2v2:hover .layer {
    transform: rotate(3deg);
    height: 100%;
    cursor: pointer;
}

.card-3v2:hover .layer {
    transform: rotate(2deg);
    height: 100%;
    cursor: pointer;
}

.layer h2 {
    font-size: 16px;
    margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
    .sub-title{
        font-size: 30px;
    }
}